## Analyzing NYC Public School Test Result Scores

#### In this school Analysis I tried to answer the following: 
1. Which schools produce the highest math scores?
2. Who are the top 10 schools based on average results across reading, math, and writing?
3. Which NYC borough has the largest standard deviation for SAT results?

## Importing library

In [1]:
import pandas as pd

### Reading the csv dataset

In [2]:
# Read in the data
schools = pd.read_csv("schools.csv")

In [3]:
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [4]:
#Â Find the best schools for math
best_math_schools = schools[schools["average_math"] >= 640][["school_name", "average_math"]].sort_values("average_math", ascending=False)

In [5]:
# Calculate average_SAT per school
schools["average_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

In [6]:
# Top 10 performing schools
top_10_schools = schools.sort_values("average_SAT", ascending=False)[["school_name", "average_SAT"]].head(10)

In [7]:
# Which borough has the highest standard deviation for average_SAT?
boroughs = schools.groupby("borough")["average_SAT"].agg(["count", "mean", "std"]).round(0).sort_values("mean", ascending=False)
largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]

In [8]:
# Share your results in this format
schools_analysis = {"best_math_schools": best_math_schools,
                    "top_10_schools": top_10_schools,
                    "largest_SAT_std_dev": largest_std_dev}

In [9]:
# Call the answer!
print(schools_analysis)

{'best_math_schools':                                            school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641, 'top_10_schools':                                            school_name  average_SAT
88                              Stuyvesant High School         2144
170                       Bronx High School of Science         2041
93                 Staten Island Technical High School         2041
174  High School of American Studies at Lehman College         2013
333                        Townsend Harris High School         1981
365  Queens High School for the Sciences at York Co...         1947
5                       Bard High School Early College         1914
280                     Brooklyn Technical High School         1896
45                       Eleanor Roosevelt High School         1889
68   High School for Mathematics, Science, and Engi...         1889, 'largest_SAT_std_dev':            count    mean    std
borough
Manhattan     89  1340.0  230.0}